/* Elbowroom CSS Layout Styling System by Andrew Biddinger */ 
$sm: 8px;
$top-sm: $sm;
$right-sm: $sm;
$left-sm: $sm;
$bottom-sm: $sm;

$md: 20px;
$top-md: $md;
$right-md: $md;
$left-md: $md;
$bottom-md: $md;

@mixin buffer ($sm, $top-sm, $right-sm, $left-sm, $bottom-sm) {
    margin: $sm;
    margin-top: $top-sm;
    margin-right: $right-sm;
    margin-bottom: $left-sm;
    margin-left: $bottom-sm;
}

.buffer-test {
  @include buffer($sm);
}

$placements: sm top-sm right-sm left-sm bottom-sm;

@each $placement in $placements {
$sm: 8px;
$top-sm: $sm;
$right-sm: $sm;
$left-sm: $sm;
$bottom-sm: $sm;
  .buffer-#{$placement} {
    margin: $sm);
  }
}

@mixin buffer ($elb-size: 8px, $elb-all: false, $elb-top: false, $elb-right: false, $elb-left: false, $elb-bottom: false) {
  @if $elb-top { margin-top: $elb-size; }
  @if $elb-right     { margin:     $elb-size; }
  @if $elb-bottom     { margin:     $elb-size; }
  @if $elb-left     { margin:     $elb-size; }
  @if $elb-all { margin: $elb-size; }
}
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em)  { @content; }
  }
}

/*

.buffer-sm {
	margin: 8px;
}
.buffer-top-sm {
	 margin-top: 8px;
}
.buffer-right-sm {
	 margin-right: 8px;
}
.buffer-left-sm {
	 margin-left: 8px;
}
.buffer-bottom-sm {
	 margin-bottom: 8px;
}

.anti-buffer-sm {
	margin: -8px;
}
.anti-buffer-top-sm {
	 margin-top: -8px;
}
.anti-buffer-right-sm {
	 margin-right: -8px;
}
.anti-buffer-left-sm {
	 margin-left: -8px;
}
.anti-buffer-bottom-sm {
	 margin-bottom: -8px;
}



.bosom-sm {
	padding: 8px;
}

.bosom-top-sm {
	 padding-top: 8px;
}
.bosom-right-sm {
	 padding-right: 8px;
}
.bosom-left-sm {
	 padding-left: 8px;
}
.bosom-bottom-sm {
	 padding-bottom: 8px;
}


.buffer {
	margin: 15px;
}
.buffer-top {
	 margin-top: 15px;
}
.buffer-right {
	 margin-right: 15px;
}
.buffer-left {
	 margin-left: 15px;
}
.buffer-bottom {
	 margin-bottom: 15px;
}

.anti-buffer {
	margin: -15px;
}
.anti-buffer-top {
	 margin-top: -15px;
}
.anti-buffer-right {
	 margin-right: -15px;
}
.anti-buffer-left {
	 margin-left: -15px;
}
.anti-buffer-bottom {
	 margin-bottom: -15px;
}



.bosom {
	padding: 15px;
}

.bosom-top {
	 padding-top: 15px;
}
.bosom-right {
	 padding-right: 15px;
}
.bosom-left {
	 padding-left: 15px;
}
.bosom-bottom {
	 padding-bottom: 15px;
}

.buffer-md {
	margin: 30px;
}
.buffer-top-md {
	 margin-top: 30px;
}
.buffer-right-md {
	 margin-right: 30px;
}
.buffer-left-md {
	 margin-left: 30px;
}
.buffer-bottom-md {
	 margin-bottom: 30px;
}


.anti-buffer-md {
	margin: -30px;
}
.anti-buffer-top-md {
	 margin-top: -30px;
}
.anti-buffer-right-md {
	 margin-right: -30px;
}
.anti-buffer-left-md {
	 margin-left: -30px;
}
.anti-buffer-bottom-md {
	 margin-bottom: -30px;
}


.bosom-md {
	padding: 30px;
}

.bosom-top-md {
	 padding-top: 30px;
}
.bosom-right-md {
	 padding-right: 30px;
}
.bosom-left-md {
	 padding-left: 30px;
}
.bosom-bottom-md {
	 padding-bottom: 30px;
}

.buffer-lg {
	margin: 45px;
}
.buffer-top-lg {
	 margin-top: 45px;
}
.buffer-right-lg {
	 margin-right: 45px;
}
.buffer-left-lg {
	 margin-left: 45px;
}
.buffer-bottom-lg {
	 margin-bottom: 45px;
}

.anti-buffer-lg {
	margin: -45px;
}
.anti-buffer-top-lg {
	 margin-top: -45px;
}
.anti-buffer-right-lg {
	 margin-right: -45px;
}
.anti-buffer-left-lg {
	 margin-left: -45px;
}
.anti-buffer-bottom-lg {
	 margin-bottom: -45px;
}



.bosom-lg {
	padding: 45px;
}
.bosom-top-lg {
	 padding-top: 45px;
}
.bosom-right-lg {
	 padding-right: 45px;
}
.bosom-left-lg {
	 padding-left: 45px;
}
.bosom-bottom-lg {
	 padding-bottom: 45px;
}

*/