// Elbow-Room Variables
$elb-xs: 4px;
$elb-sm: 8px;
$elb-reg: 15px;
$elb-md: 30px;
$elb-lg: 45px;
$elb-xlg: 65px;

// Negative Buffers
$elb-anti-xs: -4px;
$elb-anti-sm: -8px;
$elb-anti-reg: -15px;
$elb-anti-md: -30px;
$elb-anti-lg: -45px;
$elb-anti-xlg: -65px;

// Buffers

@mixin buffer-xs ($size: $elb-xs, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin buffer-sm ($size: $elb-sm, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin buffer ($size: $elb-reg, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin buffer-md ($size: $elb-md, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin buffer-lg ($size: $elb-lg, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin buffer-xlg ($size: $elb-xlg, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

// Bosoms

@mixin bosom-xs ($size: $elb-xs, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin bosom-sm ($size: $elb-sm, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin bosom ($size: $elb-reg, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin bosom-md ($size: $elb-md, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin bosom-lg ($size: $elb-lg, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

@mixin bosom-xlg ($size: $elb-xlg, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @else { margin: $size; }
}

.buffer-example {
  @include buffer();
}
.buffer-example-custom {
  @include buffer($size: 945px; $left: true);
}
.buffer-example-left {
  @include buffer($left: true);
}

.bosom-example {
  @include bosom($left: true);
}

