/*  
**  Elbow-Room Sass -  Sass Margin and Padding Tweaking System by @AndrewBiddinger 
**  Version: 0.0.2
*/

$elb-xs: 4px;
$elb-sm: 8px;
$elb-reg: 15px;
$elb-md: 30px;
$elb-lg: 45px;
$elb-xlg: 65px;

// Negative Buffers 
$elb-anti-xs: -4px;
$elb-anti-sm: -8px;
$elb-anti-reg: -15px;
$elb-anti-md: -30px;
$elb-anti-lg: -45px;
$elb-anti-xlg: -65px;

// Buffer Mixins 

@mixin buffer-xs ($size: $elb-xs, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin buffer-sm ($size: $elb-sm, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin buffer ($size: $elb-reg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin buffer-md ($size: $elb-md, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin buffer-lg ($size: $elb-lg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin buffer-xlg ($size: $elb-xlg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

// Bosom Mixins 

@mixin bosom-xs ($size: $elb-xs, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin bosom-sm ($size: $elb-sm, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin bosom ($size: $elb-reg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin bosom-md ($size: $elb-md, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin bosom-lg ($size: $elb-lg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin bosom-xlg ($size: $elb-xlg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

// Anti Buffer Mixins 

@mixin anti-buffer-xs ($size: $elb-anti-xs, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin anti-buffer-sm ($size: $elb-anti-sm, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin anti-buffer ($size: $elb-anti-reg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin anti-buffer-md ($size: $elb-anti-md, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin anti-buffer-lg ($size: $elb-anti-lg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

@mixin anti-buffer-xlg ($size: $elb-anti-xlg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { margin-top: $size; }
  @if $right     { margin-right:     $size; }
  @if $bottom     { margin-bottom:     $size; }
  @if $left     { margin-left:     $size; }
  @if $all { margin: $size; }
}

// Anti Bosom Mixins 

@mixin anti-bosom-xs ($size: $elb-anti-xs, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin anti-bosom-sm ($size: $elb-anti-sm, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin anti-bosom ($size: $elb-anti-reg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin anti-bosom-md ($size: $elb-anti-md, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin anti-bosom-lg ($size: $elb-anti-lg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}

@mixin anti-bosom-xlg ($size: $elb-anti-xlg, $all: false, $top: false, $right: false, $left: false, $bottom: false) {
  @if $top { padding-top: $size; }
  @if $right     { padding-right:     $size; }
  @if $bottom     { padding-bottom:     $size; }
  @if $left     { padding-left:     $size; }
  @if $all { padding: $size; }
}